@import url('./__image-caption/fullscreen__image-caption.css');
@import url('./__image-container/fullscreen__image-container.css');
@import url('./__image-large/fullscreen__image-large.css');
@import url('./__close/fullscreen__close.css');

.fullscreen {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s ease-in-out;
    z-index: 1;
}