.element__like {
    background-color: white;
    background-image: url("../../../images/element__like-button.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    width: 21px;
    height: 21px;
    opacity: 1;
    transition: opacity ease-in 0.35s;
    padding: 0;
    cursor: pointer
}

.element__like:focus {
    outline: none;
}

.element__like:hover {
    opacity: 0.6;
}
